{% extends "accounts/AccountsBase.html" %}

{% block title %}修改密碼{% endblock %}

{% block content %}

<div class="center">
	<h1>修改密碼</h1>
	<form method="post" id="change-password-form">
		{% csrf_token %}
		<div class="txt_field">
			<label for="{{ changePasswordForm.old_password.id_for_label }}">舊密碼</label>
			{{ changePasswordForm.old_password }}
		</div>
		<div class="txt_field">
			<label for="{{ changePasswordForm.new_password1.id_for_label }}">新密碼</label>
			{{ changePasswordForm.new_password1 }}
		</div>
		<div class="txt_field">
			<label for="{{ changePasswordForm.new_password2.id_for_label }}">新密碼確認</label>
			{{ changePasswordForm.new_password2 }}
		</div>
		<div class="error text-danger">
			<ul>
				{% for field in changePasswordForm %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<input type="submit" class="btn-submit" value="變更密碼" /><br>
	</form>		
	<br>
</div>
{% include 'modal_template.html' %}
{% if success %}
<script>
	$(document).ready(function () {
		alertSuccess('修改密碼', function () {
			window.location.href = "{% url 'Logout' %}";
		});
	});

</script>
{% endif %}
{% endblock %}