{% extends "Base.html" %}
{% block title %}修改密碼{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/changePassword.css' %}" />

<div class="center" style="box-shadow: none; margin-top: 30px;">
	<div style="text-align: center; margin-bottom: 0px; margin-bottom: 50px;">
        <img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108" >
    </div>
	<h1 style="text-align: left; padding-left: 40px; font-size: 25px; padding-top: 0px; padding-bottom: 0px; margin-top: 100px; font-weight: 600;">變更密碼</h1>
	<form method="post" id="change-password-form">
		{% csrf_token %}
		<div class="txt_field">
			<img src="{% static 'images/lock.png' %}" alt="lock" width="18px" height="18px" style="position: absolute; margin-top: 10px; margin-left: -2px;">
			<label for="{{ changePasswordForm.old_password.id_for_label }}"></label>
			{{ changePasswordForm.old_password }}
			<label style="margin-left: 17px;">{{ changePasswordForm.old_password.label }}</label>
			<button type="button" id="old_password_eye" style="margin-left: 5px; border: transparent; background-color: transparent; position: absolute; margin-left: -5px; margin-top: 7px;">
				<img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
			</button>
		</div>
		<div class="txt_field">
			<img src="{% static 'images/lock.png' %}" alt="lock" width="18px" height="18px" style="position: absolute; margin-top: 10px; margin-left: -2px;">
			<label for="{{ changePasswordForm.new_password1.id_for_label }}"></label>
			{{ changePasswordForm.new_password1 }}
			<label style="margin-left: 17px;">{{ changePasswordForm.new_password1.label }}</label>
			<button type="button" id="new_password1_eye" style="margin-left: 5px; border: transparent; background-color: transparent; position: absolute; margin-left: -5px; margin-top: 7px; ">
				<img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
			</button>
		</div>
		<div class="txt_field">
			<img src="{% static 'images/lock.png' %}" alt="lock" width="18px" height="18px" style="position: absolute; margin-top: 10px; margin-left: -2px;">
			<label for="{{ changePasswordForm.new_password2.id_for_label }}"></label>
			{{ changePasswordForm.new_password2 }}
			<label style="margin-left: 17px;">{{ changePasswordForm.new_password2.label }}</label>
			<button type="button" id="new_password2_eye" style="margin-left: 5px; border: transparent; background-color: transparent; position: absolute; margin-left: -5px; margin-top: 7px;">
				<img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
			</button>
		</div>
		<div class="error text-danger">
			<ul>
				{% for field in changePasswordForm %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<input type="submit" class="btn-submit" value="變更密碼" /><br>
	</form>
	<br>
</div>
<script>
	$(document).ready(function () {
		// 顯示/隱藏 舊密碼
		const password1Input = $("#id_old_password");
		const togglePassword1Button = $("#old_password_eye");
		togglePassword1Button.click(function () {
			if (password1Input.attr("type") === "password") {
				password1Input.attr("type", "text");
				togglePassword1Button.find("img").attr("src", "{% static 'images/eye-solid1.png' %}");
			} else {
				password1Input.attr("type", "password");
				togglePassword1Button.find("img").attr("src", "{% static 'images/eye-slash-solid.png' %}");
			}
		});

		// 顯示/隱藏 新密碼
		const password2Input = $("#id_new_password1");
		const togglePassword2Button = $("#new_password1_eye");
		togglePassword2Button.click(function () {
			if (password2Input.attr("type") === "password") {
				password2Input.attr("type", "text");
				togglePassword2Button.find("img").attr("src", "{% static 'images/eye-solid1.png' %}");
			} else {
				password2Input.attr("type", "password");
				togglePassword2Button.find("img").attr("src", "{% static 'images/eye-slash-solid.png' %}");
			}
		});

		// 顯示/隱藏 新密碼確認
		const password3Input = $("#id_new_password2");
		const togglePassword3Button = $("#new_password2_eye");
		togglePassword3Button.click(function () {
			if (password3Input.attr("type") === "password") {
				password3Input.attr("type", "text");
				togglePassword3Button.find("img").attr("src", "{% static 'images/eye-solid1.png' %}");
			} else {
				password3Input.attr("type", "password");
				togglePassword3Button.find("img").attr("src", "{% static 'images/eye-slash-solid.png' %}");
			}
		});

	});
</script>
{% include 'modal_template.html' %}
{% if success %}
<script>
	$(document).ready(function () {
		alertSuccess('修改密碼', function () {
			window.location.href = "{% url 'Logout' %}";
		});
	});

</script>
{% endif %}
{% endblock %}