{% extends "Base.html" %}
{% block title %}修改密碼{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/changePassword.css' %}" />

<div class="center" style="box-shadow: none; margin-top: 30px;">
	<div style="text-align: center; margin-bottom: 0px; margin-bottom: 50px;">
        <img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108" >
    </div>
	<h1 style="text-align: left; padding-left: 40px; font-size: 25px; padding-top: 0px; padding-bottom: 0px; margin-top: 100px;">變更密碼</h1>
	<form method="post" id="change-password-form">
		{% csrf_token %}
		<div class="txt_field">
			<label for="{{ changePasswordForm.old_password.id_for_label }}"></label>
			{{ changePasswordForm.old_password }}
			<label>{{ changePasswordForm.old_password.label }}</label>
		</div>
		<div class="txt_field">
			<label for="{{ changePasswordForm.new_password1.id_for_label }}"></label>
			{{ changePasswordForm.new_password1 }}
			<label>{{ changePasswordForm.new_password1.label }}</label>
		</div>
		<div class="txt_field">
			<label for="{{ changePasswordForm.new_password2.id_for_label }}"></label>
			{{ changePasswordForm.new_password2 }}
			<label>{{ changePasswordForm.new_password2.label }}</label>
		</div>
		<div class="error text-danger">
			<ul>
				{% for field in changePasswordForm %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<input type="submit" class="btn-submit" value="變更密碼" /><br>
	</form>
	<br>
</div>
{% include 'modal_template.html' %}
{% if success %}
<script>
	$(document).ready(function () {
		alertSuccess('修改密碼', function () {
			window.location.href = "{% url 'Logout' %}";
		});
	});

</script>
{% endif %}
{% endblock %}