{% extends "accounts/AccountsBase.html" %}

{% block title %}重置信寄送成功{% endblock %}

{% block content %}

<div class="center w-75" style="box-shadow: none;">
    <h1 style="font-size: 32px;">密碼重置請求已發送</h1>
    <p style="text-align: center;">一封包含重置密碼指示的電子郵件已發送到您的電子郵件地址。請檢查您的收件箱並遵從指示。</p>
    <div style="  display: flex;justify-content: center; ">
        <button class="btn-submit " style="width: 233px;;" onclick="location.href='/login'">
            <span>回上一頁</span>
        </button>
    </div>
    <br>
</div>

{% endblock %}

