{% extends "accounts/AccountsBase.html" %}

{% block title %}密碼重置請求失敗{% endblock %}

{% block content %}

<body>
    <div class="center w-75" style="box-shadow: none;">
        <h1 style="font-size: 32px;">密碼重置請求失敗</h1>
        <p style="text-align: center;">您提供的電子郵件在我們的系統中不存在。請確保您輸入了正確的電子郵件地址，或者聯繫支援部門以獲得進一步的協助。</p>
        <div style="  display: flex;justify-content: center; ">
            <button class="btn-submit " style="width:80%;" onclick="location.href='/forgot_password/'">
                <span>回上一頁</span>
            </button>
        </div>
        <br>
    </div>
</body>

{% endblock %}