{% extends "accounts/AccountsBase.html" %}

{% block title %}忘記密碼{% endblock %}

{% block content %}

{% load static %}
<div class="center" style="box-shadow: none;">
    <div style="text-align: center; margin-bottom: 50px;">
        <img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108" >
        <h1 style="font-size: 30px; font-weight: 600;">JOBEASE</h1>
    </div>

    <h1 class="forget-password" style="padding-bottom: 0px; text-align: left; padding-left: 40px; font-size: 25px;">忘記密碼</h1>
    <form method="post">
        {% csrf_token %}
        <!-- 忘記密碼表單內容 -->
        <div class="txt_field">
            {{ forgotPasswordForm.email }}
            <label for="email">{{ forgotPasswordForm.email.label }}</label>
        </div>
        <input type="submit" class="btn-submit" value="重置密碼">
        <br>
        <div style="display: flex;justify-content: center;">
            <a href="{% url 'Login' %}" style="color: #D57F0A; text-decoration: none; font-size: 20px;">取消</a>
        </div>
    </form>
    <br>
</div>

{% include 'modal_template.html' %}
{% if urlExpired %}
<script>
	$(document).ready(function () {
		alertSuccess('密碼重設連結無效或已過期', function () {});
	});
</script>
{% endif %}
{% endblock %}