{% extends "accounts/AccountsBase.html" %}

{% block title %}忘記密碼{% endblock %}

{% block content %}
<div class="center">
    <h1 class="forget-password" style="padding-bottom: 0px;">忘記密碼</h1>
    <form method="post">
        {% csrf_token %}
        <!-- 忘記密碼表單內容 -->
        <div class="txt_field">
            {{ forgotPasswordForm.email }}
            <label for="email">{{ forgotPasswordForm.email.label }}</label>
        </div>
        <input type="submit" class="btn-submit" value="重置密碼">
        <br>
        <br>
    </form>

    <div style="display: flex;justify-content: center;">
        <button class="btn-submit" style="width:80%;" onclick="location.href='/login'">回上一頁</button>
    </div>
    <br>
</div>

{% include 'modal_template.html' %}
{% if urlExpired %}
<script>
	$(document).ready(function () {
		alertSuccess('密碼重設連結無效或已過期', function () {});
	});
</script>
{% endif %}
{% endblock %}