{% extends "base.html" %}
{% block title %}幫助中心{% endblock %}
{% block content %}
{% load static %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/help_center.css' %}" />
<h1 class="problem-report" style="color: #F7A32E;">幫助中心</h1>
<hr>
<!-- 問題下拉選單 -->
<div class="accordion accordion-flush" id="QuestionSet">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        常見問題
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#QuestionSet">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="NestedAccordion1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="nested-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nested-collapseOne" aria-expanded="false" aria-controls="nested-collapseOne">
                忘記及變更密碼
              </button>
            </h2>
            <div id="nested-collapseOne" class="accordion-collapse collapse" aria-labelledby="nested-headingOne" data-bs-parent="#NestedAccordion1">
              <div class="accordion-body">在登入頁面中，若忘記密碼，請點選「忘記密碼」選項，系統將透過電子郵件向您發送密碼重設連結，以進行密碼更改。
              <br>在應用程式中，您也可以透過側拉選單中的「變更密碼」選項進行密碼修改。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="nested-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nested-collapseTwo" aria-expanded="false" aria-controls="nested-collapseTwo">
                如何修改個人照片？
              </button>
            </h2>
            <div id="nested-collapseTwo" class="accordion-collapse collapse" aria-labelledby="nested-headingTwo" data-bs-parent="#NestedAccordion1">
              <div class="accordion-body">在側拉選單的「個人資料」頁面中，您可進行個人資料的修改，點選相應的「修改」圖示即可進行照片、性別或生日等資訊的更新。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="nested-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nested-collapseThree" aria-expanded="false" aria-controls="nested-collapseThree">
                何謂儀錶板？
              </button>
            </h2>
            <div id="nested-collapseThree" class="accordion-collapse collapse" aria-labelledby="nested-headingThree" data-bs-parent="#NestedAccordion1">
              <div class="accordion-body">儀錶板記錄每次模擬面試結束後生成的成績，其中包含各項能力隨時間變動的折線圖，以及能力數值的累積平均。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        帳號問題
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#QuestionSet">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="NestedAccordion2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="nest-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nest-collapseOne" aria-expanded="false" aria-controls="nest-collapseOne">
                建立帳號
              </button>
            </h2>
            <div id="nest-collapseOne" class="accordion-collapse collapse" aria-labelledby="nest-headingOne" data-bs-parent="#NestedAccordion2">
              <div class="accordion-body">您可透過登入頁面中的「立即註冊」選項，或使用 Google、LinkedIn 快速建立帳號。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="nest-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nest-collapseTwo" aria-expanded="false" aria-controls="nest-collapseTwo">
                忘記及變更密碼
              </button>
            </h2>
            <div id="nest-collapseTwo" class="accordion-collapse collapse" aria-labelledby="nest-headingTwo" data-bs-parent="#NestedAccordion2">
              <div class="accordion-body">在登入頁面中，若忘記密碼，請點選「忘記密碼」選項，系統將透過電子郵件向您發送密碼重設連結，以進行密碼更改。
                <br>在應用程式中，您也可以透過側拉選單中的「變更密碼」選項進行密碼修改。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="nest-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nest-collapseThree" aria-expanded="false" aria-controls="nest-collapseThree">
                如何登出？
              </button>
            </h2>
            <div id="nest-collapseThree" class="accordion-collapse collapse" aria-labelledby="nest-headingThree" data-bs-parent="#NestedAccordion2">
              <div class="accordion-body">欲登出帳號，請使用側拉選單中的「登出」功能。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="nest-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nest-collapseFour" aria-expanded="false" aria-controls="nest-collapseFour">
                如何更改個人資料，如照片、性別或生日？
              </button>
            </h2>
            <div id="nest-collapseFour" class="accordion-collapse collapse" aria-labelledby="nest-headingFour" data-bs-parent="#NestedAccordion2">
              <div class="accordion-body">
                在側拉選單的「個人資料」頁面中，您可進行個人資料的修改，點選相應的「修改」圖示即可進行照片、性別或生日等資訊的更新。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        功能介紹
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#QuestionSet">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="NestedAccordion3">
          <div class="accordion-item">
            <h2 class="accordion-header" id="last-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#last-collapseOne" aria-expanded="false" aria-controls="last-collapseOne">
                如何生成求職信、推薦信、簡歷及個人簡介？
              </button>
            </h2>
            <div id="last-collapseOne" class="accordion-collapse collapse" aria-labelledby="last-headingOne" data-bs-parent="#NestedAccordion3">
              <div class="accordion-body">於首頁點選欲生成的資料類別，進入相應頁面後，輸入所需資訊，點選頁面底部的「生成」按鈕，稍後即可取得相應生成資料。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="last-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#last-collapseTwo" aria-expanded="false" aria-controls="last-collapseTwo">
                如何進行模擬面試？
              </button>
            </h2>
            <div id="last-collapseTwo" class="accordion-collapse collapse" aria-labelledby="last-headingTwo" data-bs-parent="#NestedAccordion3">
              <div class="accordion-body">輸入欲面試公司及職位，貼上個人簡歷，選擇單選或多選模式，按下「送出」以啟動模擬面試。完成題目後，系統將提供各項能力評分及模擬面試總結。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="last-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#last-collapseThree" aria-expanded="false" aria-controls="last-collapseThree">
                如何查詢歷史紀錄？
              </button>
            </h2>
            <div id="last-collapseThree" class="accordion-collapse collapse" aria-labelledby="last-headingThree" data-bs-parent="#NestedAccordion3">
              <div class="accordion-body">於側拉選單中選擇「歷史紀錄」，即可查詢先前生成資料的歷史紀錄。同時，透過右上方的時間篩選可檢視不同時間點生成的資料。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="last-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#last-collapseFour" aria-expanded="false" aria-controls="last-collapseFour">
                何謂儀錶板？
              </button>
            </h2>
            <div id="last-collapseFour" class="accordion-collapse collapse" aria-labelledby="last-headingFour" data-bs-parent="#NestedAccordion3">
              <div class="accordion-body">儀錶板記錄每次模擬面試結束後生成的成績，其中包含各項能力隨時間變動的折線圖，以及能力數值的累積平均。</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="last-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#last-collapseFive" aria-expanded="false" aria-controls="last-collapseFive">
                如何查詢儀錶板？
              </button>
            </h2>
            <div id="last-collapseFive" class="accordion-collapse collapse" aria-labelledby="last-headingFive" data-bs-parent="#NestedAccordion3">
              <div class="accordion-body">於應用程式的側拉選單中，選擇「儀錶板」，即可直接進入儀錶板頁面。<br>
                或在個人資料頁面中，瀏覽至頁面最下方，點選「查看我的儀錶板」，以進入儀錶板頁面。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="d-grid gap-2 col-8 mx-auto">
    <a href="{% url 'ProblemReport' %}" class="btn btn-primary">問題回報</a>
  </div>
</div>

{% endblock %}
