{% extends "accounts/AccountsBase.html" %}
{% block title %}登入{% endblock %}
{% block content %}
{% load static %}
{% load socialaccount %}

<div class="center logo">
	<img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108">
	<h1 class="custom-title" style="text-align: left;">使用者登入</h1>
	<form method="post" id="login-form">
		{% csrf_token %}
		<div class="txt_field">
			{{ loginForm.username }}
			<label>{{ loginForm.username.label }}</label>
		</div>
		<div class="txt_field">
			{{ loginForm.password }}
			<label>{{ loginForm.password.label }}</label>
			<button type="button" id="toggle-password">
				<img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
			</button>
		</div>
		<div class="txt_field">
			<label style="padding-bottom:15px">{{ loginForm.captcha.label }}</label>
			<span style="padding-left:70px">{{ loginForm.captcha }}</span>
		</div>
		<div class="row">
			<div class="col-7">
				{{ loginForm.remember_me }}
				<span></span>
				<label>{{ loginForm.remember_me.label }}</label>
			</div>
			<div class="col-5 d-flex justify-content-end">
				<a href="{% url 'ForgotPassword' %}" style="color: #F7A22D;">忘記密碼?</a>
			</div>
		</div>
		{% if loginForm.errors %}
		<div class="error text-danger">
			<ul>
				{% for field in loginForm %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<br>
		<input type="submit" class="btn-submit" value="登入" /><br>
		<br>
		<!--第三方登入-->
		<button class="btn-google"
			onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=9654745670-04k9md8n376d5k65go4pgkhfj47jbk1l.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile&response_type=code&state=ycRAoBICKXcb&service=lso&o2v=2&flowName=GeneralOAuthFlow'">
			<img src="{% static 'images/Google.png' %}" alt="google" >
			<span>Google登入</span>
		</button>
		<div class="signup_link">
			<span style="color: #F7A22D;">還沒註冊嗎&nbsp?</span>
			<a href="{% url 'Register' %}" style="color: #D57F0A;">&nbsp&nbsp立即註冊</a>
		</div>
	</form>
</div>
<script>
	$(document).ready(function () {
		// 顯示/隱藏密碼
		const passwordInput = $("input[type='password']");
		const togglePasswordButton = $("#toggle-password");
		togglePasswordButton.click(function () {
			if (passwordInput.attr("type") === "password") {
				passwordInput.attr("type", "text");
				togglePasswordButton.find("img").attr("src", "{% static 'images/eye-solid.png' %}");
			} else {
				passwordInput.attr("type", "password");
				togglePasswordButton.find("img").attr("src", "{% static 'images/eye-slash-solid.png' %}");
			}
		});

		// 驗證碼重新整理
		// 在所有驗證碼後方建立重新整理按鈕
		$('img.captcha').after(
			$('<a href="#" class="captcha-refresh"><img src="{% static 'images/refresh.png' %}"></a>')
		);

		// 重整按鈕的點擊事件
		$('.captcha-refresh').click(function () {
			var $form = $(this).parents('form');
			var url = location.protocol + "//" + window.location.hostname + ":"
				+ location.port + "/captcha/refresh/";

			// 取得新的驗證碼
			$.getJSON(url, {}, function (json) {
				$form.find('input[name="captcha_0"]').val(json.key);
				$form.find('img.captcha').attr('src', json.image_url);
			});

			return false;
		});
	});
</script>

{% endblock %}