{% extends "base.html" %}
{% block title %}Personal{% endblock %}
{% block content %}
{% load static %} 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section style="background-color: #ffffff;">
    <div class="container  py-5">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="card-body text-center">
                    <div style="position: relative; display: inline-block;" >
                        {% if unit.profile_image %}
                        <img src="/media/{{ unit.profile_image }}" alt="{{ unit.user_name }}'s profile picture"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% else %}
                        <img src="{% static 'images/avator.png'%}" alt="{{ unit.user_name }}'s profile picture"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <form id="photo-form" method="post" action="{% url 'Personal' %}" style="position: absolute; bottom: 0; right: 0;" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="rounded-circle"
                                style="position: relative; background-color: white; width: 40px;height: 40px; border: 1px solid rgb(184, 184, 184); ">
                                <label for="photo"><img
                                        src="https://django-finalproj.thchen2002.repl.co/static/images/usericon/camera.png"
                                        width=25px height=25px
                                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></label>
                            </div>
                            <div>
                                {{ form.profile_image }}
                            </div>
                        </form>
                    </div>
                    <h5 class="my-3">{{ unit.username }}</h5>
                </div>
            </div>
            <div class="col-md-6 mx-auto row" style="border: 2px solid #FCE9CF; padding: 3px; border-radius: 10px;  width: 80%; background-color: #FCE9CF;" >
                <div class="col-6" style="text-align: center; margin:5px 0px">
                    <h2>{{ dashboard.registration_days }}天</h2><span>註冊天數</span>
                </div>
                <div class="col-6" style="text-align: center; margin:5px 0px">
                    <h2>{{ dashboard.comprehensive_score|default:'--' }}分</h2><span>綜合分數</span>
                </div>
            </div>
            <div class="container mt-3"></div>
            <div class="col-lg-9">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <form id="profile-form" method="post" action="{% url 'Personal' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="username" style="font-weight: bold;">帳號</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" name="username" value="{{ unit.username }}" disabled>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="gender" style="font-weight: bold;">性別</label>
                                </div>
                                <div class="col-sm-9">
                                    {{ form.gender }}
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="birth_date" style="font-weight: bold;">生日</label>
                                </div>
                                <div class="col-sm-9">
                                    {{ form.birth_date }}
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row ">
                                <div class="col-sm-3">
                                    <label for="email" style="font-weight: bold;">Email</label>
                                </div>
                                <div class="col-sm-9  text-end">
                                    <input type="email" class="form-control" id="email" name="email" value="{{ unit.email }}" disabled>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="degree" style="font-weight: bold;">學位</label>
                                </div>
                                <div class="col-sm-9">
                                    {{ form.degree }}
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" id="edit-btn">修改</button>
                                <button type="submit" class="btn btn-primary" id="save-btn" style="display: none;">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto" style="border: 2px solid #FCE9CF; padding: 10px; border-radius: 10px;  width: 80%; background-color: #FCE9CF;" >
            <h6 class="text-center">專業能力</h6>
            <div class="progress mx-auto" style="width: 80%;">
                <div class="progress-bar" role="progressbar" style="width: {{ dashboard.professional_score|default:0 }}%; background-color: #808080;" aria-valuenow="{{ dashboard.professional_score|default:0 }}" aria-valuemin="0" aria-valuemax="100">{{ dashboard.professional_score|default:0 }}</div>
            </div>
            <br>
            <h6 class="text-center">創意能力</h6>
            <div class="progress mx-auto" style="width: 80%;">
                <div class="progress-bar" role="progressbar" style="width: {{ dashboard.creative_score|default:0 }}%; background-color: #808080;" aria-valuenow="{{ dashboard.creative_score|default:0 }}" aria-valuemin="0" aria-valuemax="100">{{ dashboard.creative_score|default:0 }}</div>
            </div>
            <br>
            <h6 class="text-center">溝通能力</h6>
            <div class="progress mx-auto" style="width: 80%;">
                <div class="progress-bar" role="progressbar" style="width: {{ dashboard.strategy_score|default:0 }}%; background-color: #808080;" aria-valuenow="{{ dashboard.strategy_score|default:0 }}" aria-valuemin="0" aria-valuemax="100">{{ dashboard.strategy_score|default:0 }}</div>
            </div>
            <br>
            <h6 class="text-center">策略能力</h6>
            <div class="progress mx-auto" style="width: 80%;">
                <div class="progress-bar" role="progressbar" style="width: {{ dashboard.communication_score|default:0 }}%; background-color: #808080;" aria-valuenow="{{ dashboard.communication_score|default:0 }}" aria-valuemin="0" aria-valuemax="100">{{ dashboard.communication_score|default:0 }}</div>
            </div>
            <br>
            <h6 class="text-center">自主學習能力</h6>
            <div class="progress mx-auto" style="width: 80%;">
                <div class="progress-bar" role="progressbar" style="width: {{ dashboard.self_learning_score|default:0 }}%; background-color: #808080;" aria-valuenow="{{ dashboard.self_learning_score|default:0 }}" aria-valuemin="0" aria-valuemax="100">{{ dashboard.self_learning_score|default:0 }}</div>
            </div>
        </div>
    </div>

<div class="container mt-3">
    <p class="text-center" ><a href="{% url 'Dashboard' %}">查看我的儀表板</a></p>
</div>

<script>
    $(document).ready(function () {
        // 修改按鈕事件
        $("#edit-btn").click(function () {
            $("#edit-btn").hide();
            $("#save-btn").show();
            $("input:not('#username,#email')").css("background-color", "white");
            $("select").css("background-color", "white")
            $("input:not('#username,#email')").removeAttr("disabled");
            $("select").removeAttr("disabled");
        });

        // 上傳照片
        $("#photo").change(function () {
            $("#photo-form").submit();
        });
    });
</script>
{% endblock %}