{% extends "accounts/AccountsBase.html" %}

{% block title %}註冊{% endblock %}

{% block content %}

{% load static %}
<div class="center">
	<div style="text-align: center;">
		<img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108">
	</div>
	<h1 class="register-title" style="text-align: left;">使用者註冊</h1>
	<form method="post" id="register-form">
		{% csrf_token %}
		<!-- 註冊表單內容 -->
		<div class="txt_field">
			{{ registerForm.username }}
			<label>{{ registerForm.username.label }}</label>
		</div>
		<div class="txt_field">
			{{ registerForm.email }}
			<label>{{ registerForm.email.label }}</label>
		</div>
		<div class="txt_field">
			{{ registerForm.password1 }}
		<label>{{ registerForm.password1.label }}</label>
		</div>
		<div class="txt_field">
			{{ registerForm.password2 }}
			<label>{{ registerForm.password2.label }}</label>
		</div>
		{% if registerForm.errors %}
		<div class="error text-danger">
			<ul>
			{% for field in registerForm %}
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<input type="submit" class="btn-submit" value="註冊" /><br>
	</form>
	<div class="signup_link">
		已經是會員?<a href="{% url 'Login'%}" style="color: #F7A22D;">&nbsp;立即登入</a>
	</div>
</div>

{% endblock %}