{% extends "accounts/AccountsBase.html" %}

{% block title %}密碼重設確認{% endblock %}

{% block content %}

<head>
    <meta http-equiv="refresh" content="5;url=/login">
</head>

<script>
    var countdown = 5; // 設定倒數計時的起始值

    // 每秒更新一次倒數計時
    var timer = setInterval(function () {
        countdown--; // 每次減少 1 秒

        // 更新顯示倒數計時的元素
        var countdownElement = $("#countdown");
        $("#countdown").text(countdown);


        // 如果倒數計時為 0，則清除計時器
        if (countdown <= 0) {
            clearInterval(timer);
        }
    }, 1000);
</script>

{% endblock %}