{% extends "accounts/AccountsBase.html" %}
{% block title %}密碼重設確認{% endblock %}
{% block content %}
{% load static %}

<div class="center" style="box-shadow: none;">
    <div style="text-align: center;">
        <img src="{% static 'images/LOGO.png' %}" alt="LOGO" width="90" height="108">
    </div>
    <h1 class="register-title" style="text-align: left;">密碼重置</h1>
    <form method="post" id="password-reset-form">
        {% csrf_token %}
        <!-- 忘記密碼表單內容 -->
        <div class="txt_field">
            <div class="input-container">
                {{ form.new_password1 }}
                <span></span>
                <label>新密碼</label>
                <button type="button" class="toggle-password" data-target="id_new_password1">
                    <img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
                </button>
            </div>
        </div>
        <div>
            {% if form.new_password1.help_text %}
            <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
            {% endif %}
        </div>
        <div class="txt_field">
            <div class="input-container">
                {{ form.new_password2 }}
                <span></span>
                <label>確認密碼</label>
                <button type="button" class="toggle-password" data-target="id_new_password2">
                    <img src="{% static 'images/eye-slash-solid.png' %}" alt="顯示密碼" width="20" height="20">
                </button>
            </div>
        </div>
        <div class="error text-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <input type="submit" class="btn-submit" value="送出">
        <br>
        <br>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.toggle-password').click(function () {
            const targetId = $(this).data('target');
            const passwordInput = $(`#${targetId}`);

            if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                $(this).find('img').attr('src', '{% static 'images/eye-solid1.png' %}');
            } else {
                passwordInput.attr('type', 'password');
                $(this).find('img').attr('src', '{% static 'images/eye-slash-solid.png' %}');
            }
        });
    });
</script>

{% include 'modal_template.html' %}
{% if success %}
<script>
	$(document).ready(function () {
		alertSuccess('密碼重置', function () {
			window.location.href = "{% url 'Login' %}";
		});
	});

</script>
{% endif %}
{% endblock %}
