{% extends "base.html" %}
{% block title %}Basic info{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section style="background-color: #ffffff;">
    <div class="container  py-5">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 row">
                <div class="col-lg-3">
                    <div class="card-body text-center">
                        <div style="position: relative; display: inline-block;">
                            {% if unit.profile_pic %}
                            <img src="/media/{{ unit.profile_pic }}" alt="{{ unit.user_name }}'s profile picture"
                                class="rounded-circle img-fluid" style="width: 150px;">
                            {% else %}
                            <img src="https://i.imgur.com/m2ewClw.pngs" alt="{{ unit.user_name }}'s profile picture"
                                class="rounded-circle img-fluid" style="width: 150px;">
                            {% endif %}
                            {% if unit.id == user.id %}
                            <form id="photo-form" style="position: absolute; bottom: 0; right: 0;">
                                {% csrf_token %}
                                <div class="rounded-circle"
                                    style="position: relative; background-color: white; width: 40px;height: 40px; border: 1px solid rgb(184, 184, 184); ">
                                    <label for="photo"><img
                                            src="https://django-finalproj.thchen2002.repl.co/static/images/usericon/camera.png"
                                            width=25px height=25px
                                            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></label>
                                </div>
                                <div>
                                    <input type="file" class="form-control" id="photo" name="photo" accept="image/*"
                                        style="display: none;">
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <h5 class="my-3">{{ unit.user_name }}</h5>
                        <p class="text-muted mb-1">{{ occupation|default:'' }}</p>
                        <p class="text-muted mb-4">{{ unit.academic|default:'' }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <label for="first_name" style="font-weight: bold;font-size: 25px;">(姓名)</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ unit.last_name|default:'' }}
                                        {{unit.first_name|default:''}}</p>
                                </div>
                            </div>
                            <form id="profile-form">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="first_name" style="font-weight: bold;">帳號</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                            value="{{ unit.first_name|default:'' }}" placeholder="Your account"
                                            readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="gender" style="font-weight: bold;">性別</label>
                                    </div>
                                    <div class="col-sm-9">
                                        {% if unit.gender == "M" %}
                                        <input type="radio" id="gender_M" value="M" checked="checked" name="gender"
                                            style="display: none;" disabled><span id="gender_textM"
                                            style="display: none;">&nbsp;Male&emsp;</span>
                                        <input type="radio" id="gender_F" value="F" name="gender" style="display: none;"
                                            disabled><span id="gender_textF" style="display: none;">&nbsp;Female</span>
                                        <input type="text" class="form-control" id="gender" value="Male" readonly>
                                        {% elif unit.gender == "F" %}
                                        <input type="radio" id="gender_M" value="M" name="gender" style="display: none;"
                                            disabled><span id="gender_textM"
                                            style="display: none;">&nbsp;Male&emsp;</span>
                                        <input type="radio" id="gender_F" value="F" checked="checked" name="gender"
                                            style="display: none;" disabled><span id="gender_textF"
                                            style="display: none;">&nbsp;Female</span>
                                        <input type="text" class="form-control" id="gender" value="Female" readonly>
                                        {% else %}
                                        <input type="radio" id="gender_M" value="M" name="gender" style="display: none;"
                                            disabled><span id="gender_textM"
                                            style="display: none;">&nbsp;Male&emsp;</span>
                                        <input type="radio" id="gender_F" value="F" name="gender" style="display: none;"
                                            disabled><span id="gender_textF" style="display: none;">&nbsp;Female</span>
                                        <input type="text" class="form-control" id="gender" value="" readonly>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="birth_date" style="font-weight: bold;">生日</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="birth_date" name="birth_date"
                                            value="{{ birthdate }}" placeholder="Your birth date" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row ">
                                    <div class="col-sm-3">
                                        <label for="email" style="font-weight: bold;">Email</label>
                                    </div>
                                    <div class="col-sm-9  text-end">
                                        <input type="email" class="form-control" id="email" name="email"
                                            value="{{ unit.email|default:'' }}" placeholder="Your Email" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label for="phone_namber" style="font-weight: bold;">學歷</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="phone_number" name="phone_number"
                                            value="{{ unit.phone_number|default:'' }}"
                                            placeholder="Your Education Level" readonly>
                                    </div>
                                </div>
                                <hr>
                                {% if unit.id == user.id %}
                                <button type="button" id="edit-button" class="btn btn-primary"
                                    onclick="toggleEditMode()">Edit</button>
                                <button type="submit" id="save-button" class="btn btn-primary" onclick="submitData()"
                                    style="display: none;">Save</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}