{% load static %}
<!-- 彈跳視窗 -->
<div class="modal fade" id="redirectToLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align:center;">
            <img src="{% static 'images/success.gif' %}" alt="success" style="width:200px; height:200px; margin:auto; display:block;">
            <div class="modal-body" style="text-align:center; color:#F7A32E"></div>
        </div>
    </div>
</div>

<script>

    // 註冊成功
    function alertSuccess(action, successCallback) {
        const correctModal = new bootstrap.Modal($('#redirectToLogin'));
        $("#redirectToLogin .modal-body").html("<h2><strong>" + action + "完成!</strong></h2><h6>點擊任意處</h6>");
        $("#redirectToLogin").modal("show");
        $(window).click(function (event) {
            if ($(event.target).is("#redirectToLogin")) {
                $("#redirectToLogin").modal("hide");
                successCallback();
            }
        });
    }
</script>
