<!-- 彈跳視窗 -->
<div class="modal fade" id="redirectToLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="correctModalLabel" style="display: none;">✅ 恭喜</h1>
                <h1 class="modal-title fs-5" id="failModalLabel" style="display: none;">❗ 提醒你</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    // 註冊成功
    function alertSuccess(action, successCallback) {
        const correctModal = new bootstrap.Modal($('#redirectToLogin'));
        $("#correctModalLabel").show();
        $("#redirectToLogin .modal-body").html("<p>【" + action + "】完成</p>");
        $("#redirectToLogin").modal("show");
        $('#redirectToLogin').on('click', function () {
            successCallback();
        });
    }
    // 註冊失敗
    function alertFail(action, successCallback) {
        const correctModal = new bootstrap.Modal($('#redirectToLogin'));
        $("#failModalLabel").show();
        $("#redirectToLogin .modal-body").html("<p>【" + action + "】失敗</p>");
        $("#redirectToLogin").modal("show");
        $('#redirectToLogin').on('click', function () {
            successCallback();
        });
    }

</script>
