.dashboard-box {
    text-decoration: none;
    height: 175px;
    width: 175px;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 10px solid #fde9d0;
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-position: center 20%;
}

.register {
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    text-align: left;
    position: relative;
    margin-left: 0px;
    font-weight: bold;
}

.num {
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 60px;
    text-align: center;
    display: block;
    position: relative;
    top: -15px;
}

.day {
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 33px;
    text-align: right;
    display: block;
    position: relative;
    top: -25px;
    margin-left: 100px;
    font-weight: bold;
}

.fraction-circle-text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.chart-css {
    height: 330px;
    width: 400px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.dashboard-box.chart-css {
    position: relative;
    /* 畫布設為相對定位 */
}

/* 問號按鈕 */
.help-button {
    position: absolute;
    bottom: 284px;
    right: 5px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.help-button img {
    width: 20px;
    height: 20px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: relative;
}

.circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #FCE9CF;
    border-bottom-left-radius: 50px;
    clip-path: polygon(0 100%, 1 1, 100% 100%);
    right: -13px;
}

.register-img {
    position: absolute;
    top: -6px;
    right: -15px;
    width: 50px;
    height: 50px;
}
.time-range-selector{
    position: absolute; 
    z-index: 1; 
    padding-top: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
}
.btn-outline-primary {
    color: #F7A22D !important;
    background-color: white!important;
    border-color: #F7A22D!important;
    font-size: large;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}


.btn-check:checked + .btn-outline-primary {
    color: white!important;
    background-color: #F7A22D!important;
    border-color: #F7A22D;
}

@media screen and (max-width: 550px) {
    .btn-outline-primary {
        font-size: small;
        padding-left: 0px;
        padding-right: 0px;
    }
}