{% extends "Base.html" %}
{% block title %}歷史紀錄{% endblock %}
{% block content %}
{% load static %}
{% load filter %}

<link rel="stylesheet" href="{% static 'css/history.css' %}" type="text/css">
<style>
    .form-control, .form-select {
        color: white;
        background-color: #F7A22D;
    }
</style>
<div class="row row justify-content-center" style="margin-top:0px">
    <div class="col-md-6 max-auto">
        <div class="row justify-content-center">
            <div class="accounts-title col-7 col-md-9" style="font-size: 35px;">
                歷史紀錄
            </div>
            <div class="col-5 col-md-3" style="margin-top: 19px;">
                <select id="date-filter" class="form-select" style="color: #ffffff; text-align: center;">
                    <option value="" {% if date_filter is None %}selected{% endif %} style="color: white;">不限時間</option>
                    <option value="today" {% if date_filter == "today" %}selected{% endif %} style="color: white;">今天</option>
                    <option value="week" {% if date_filter == "week" %}selected{% endif %} style="color: white;">本週</option>
                    <option value="month" {% if date_filter == "month" %}selected{% endif %} style="color: white;">本月</option>
                    <option value="year" {% if date_filter == "year" %}selected{% endif %} style="color: white;">今年</option>
                </select>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-primary {% if selected_tab == 'cover_letter' %}active{% endif %}" id="cover_letter-tab" data-bs-toggle="tab"
                        data-bs-target="#cover_letter" type="button" role="tab" aria-controls="cover_letter"
                        aria-selected="true"
                        style="padding-left: 6px;padding-right: 6px; color: #F7A22D;">求職信</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-primary {% if selected_tab == 'recommendation_letter' %}active{% endif %}" id="recommendation_letter-tab" data-bs-toggle="tab"
                        data-bs-target="#recommendation_letter" type="button" role="tab"
                        aria-controls="recommendation_letter" aria-selected="false"
                        style="padding-left: 6px;padding-right: 6px; color: #F7A22D;">推薦信</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-primary {% if selected_tab == 'self_introduction' %}active{% endif %}" id="self_introduction-tab" data-bs-toggle="tab"
                        data-bs-target="#self_introduction" type="button" role="tab"
                        aria-controls="self_introduction" aria-selected="false"
                        style="padding-left: 6px;padding-right: 6px; color: #F7A22D;">自我介紹</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-primary {% if selected_tab == 'resume' %}active{% endif %}" id="resume-tab" data-bs-toggle="tab"
                        data-bs-target="#resume" type="button" role="tab" aria-controls="resume"
                        aria-selected="false"
                        style="padding-left: 6px;padding-right: 6px; color: #F7A22D;">簡歷</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-primary {% if selected_tab == 'mock_interview' %}active{% endif %}" id="mock_interview-tab" data-bs-toggle="tab"
                        data-bs-target="#mock_interview" type="button" role="tab" aria-controls="mock_interview"
                        aria-selected="false"
                        style="padding-left: 6px;padding-right: 6px;color: #F7A22D; ">模擬面試</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show {% if selected_tab == 'cover_letter' %}active show{% endif %}" id="cover_letter" role="tabpanel"
                    aria-labelledby="cover-letter-tab">
                    {% if cover_letter_records %}
                    <div style="text-align: end; margin: 10px">
                        <span style="color:#F7A22D">依日期排序</span>
                        {% if order == 'desc' %}
                        <img src="{% static 'images/desc_order.png' %}" alt="desc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% else %}
                        <img src="{% static 'images/asc_order.png' %}" alt="asc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% endif %}
                    </div>
                    {% else %}
                    <div style="display: flex; align-items: center; justify-content: center; height: 50vh;">
                        <h1 style="color: #D0C9C0">目前無資料</h1>
                    </div>
                    {% endif %}
                    {% for record in cover_letter_records %}
                    <div class="card mb-3 border-0" data-content-id="{{ record.id }}"
                        data-content-type="{{ record.content_type }}">
                        <div class="row g-0">
                            <div class="col card date-card border-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ record.created_at.day }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.created_at|get_month_name }}</small></p>
                                </div>
                            </div>
                            <div class="col card bg-transparent border-0">
                                <div class="card-body" style="padding-left: 40px;">
                                    <h5 style="color:#5E4104">{{ record.unit }}{{ record.get_content_type_display }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.result }}</small>
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                                {% if record.is_satisfied %}
                                <img src="{% static 'images/good_selected.png' %}" alt="good" style="width:40px; height: 40px;">
                                {% else %}
                                <img src="{% static 'images/bad_selected.png' %}" alt="bad" style="width:40px; height: 40px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade {% if selected_tab == 'recommendation_letter' %}active show{% endif %}" id="recommendation_letter" role="tabpanel"
                    aria-labelledby="recommendation-letter-tab">
                    {% if recommendation_letter_records %}
                    <div style="text-align: end; margin: 10px">
                        <span style="color:#F7A22D">依日期排序</span>
                        {% if order == 'desc' %}
                        <img src="{% static 'images/desc_order.png' %}" alt="desc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% else %}
                        <img src="{% static 'images/asc_order.png' %}" alt="asc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% endif %}
                    </div>
                    {% else %}
                    <div style="display: flex; align-items: center; justify-content: center; height: 50vh;">
                        <h1 style="color: #D0C9C0">目前無資料</h1>
                    </div>
                    {% endif %}
                    {% for record in recommendation_letter_records %}
                    <div class="card mb-3 border-0" data-content-id="{{ record.id }}"
                        data-content-type="{{ record.content_type }}">
                        <div class="row g-0">
                            <div class="col card date-card border-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ record.created_at.day }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.created_at|get_month_name }}</small></p>
                                </div>
                            </div>
                            <div class="col card bg-transparent border-0">
                                <div class="card-body" style="padding-left: 40px;">
                                    <h5 style="color:#5E4104">{{ record.unit }}{{ record.get_content_type_display }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.result }}</small>
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                                {% if record.is_satisfied %}
                                <img src="{% static 'images/good_selected.png' %}" alt="good" style="width:40px; height: 40px;">
                                {% else %}
                                <img src="{% static 'images/bad_selected.png' %}" alt="bad" style="width:40px; height: 40px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade {% if selected_tab == 'self_introduction' %}active show{% endif %}" id="self_introduction" role="tabpanel"
                    aria-labelledby="self-introduction-tab">
                    {% if self_introduction_records %}
                    <div style="text-align: end; margin: 10px">
                        <span style="color:#F7A22D">依日期排序</span>
                        {% if order == 'desc' %}
                        <img src="{% static 'images/desc_order.png' %}" alt="desc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% else %}
                        <img src="{% static 'images/asc_order.png' %}" alt="asc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% endif %}
                    </div>
                    {% else %}
                    <div style="display: flex; align-items: center; justify-content: center; height: 50vh;">
                        <h1 style="color: #D0C9C0">目前無資料</h1>
                    </div>
                    {% endif %}
                    {% for record in self_introduction_records %}
                    <div class="card mb-3 border-0" data-content-id="{{ record.id }}"
                        data-content-type="{{ record.content_type }}">
                        <div class="row g-0">
                            <div class="col card date-card border-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ record.created_at.day }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.created_at|get_month_name }}</small></p>
                                </div>
                            </div>
                            <div class="col card bg-transparent border-0">
                                <div class="card-body" style="padding-left: 40px;">
                                    <h5 style="color:#5E4104">{{ record.unit }}{{ record.get_content_type_display }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.result }}</small>
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                                {% if record.is_satisfied %}
                                <img src="{% static 'images/good_selected.png' %}" alt="good" style="width:40px; height: 40px;">
                                {% else %}
                                <img src="{% static 'images/bad_selected.png' %}" alt="bad" style="width:40px; height: 40px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade {% if selected_tab == 'resume' %}active show{% endif %}" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                    {% if resume_records %}
                    <div style="text-align: end; margin: 10px">
                        <span style="color:#F7A22D">依日期排序</span>
                        {% if order == 'desc' %}
                        <img src="{% static 'images/desc_order.png' %}" alt="desc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% else %}
                        <img src="{% static 'images/asc_order.png' %}" alt="asc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% endif %}
                    </div>
                    {% else %}
                    <div style="display: flex; align-items: center; justify-content: center; height: 70vh;">
                        <h1 style="color: #D0C9C0">目前無資料</h1>
                    </div>
                    {% endif %}
                    {% for record in resume_records %}
                    <div class="card mb-3 border-0" data-content-id="{{ record.id }}"
                        data-content-type="R">
                        <div class="row g-0">
                            <div class="col card date-card border-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ record.created_at.day }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.created_at|get_month_name }}</small></p>
                                </div>
                            </div>
                            <div class="col card bg-transparent border-0">
                                <div class="card-body" style="padding-left: 40px;">
                                    <h5 style="color:#5E4104">{{ record.get_style_display }}風簡歷</h5>
                                    <p class="card-text"><small class="text-muted">點擊進入下載</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade {% if selected_tab == 'mock_interview' %}active show{% endif %}" id="mock_interview" role="tabpanel" aria-labelledby="mock-interview-tab">
                    {% if mock_interview_records %}
                    <div style="text-align: end; margin: 10px">
                        <span style="color:#F7A22D">依日期排序</span>
                        {% if order == 'desc' %}
                        <img src="{% static 'images/desc_order.png' %}" alt="desc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% else %}
                        <img src="{% static 'images/asc_order.png' %}" alt="asc" class="order-img" style="width:20px; height:20px; cursor: pointer; vertical-align: sub;">
                        {% endif %}
                    </div>
                    {% else %}
                    <div style="display: flex; align-items: center; justify-content: center; height: 70vh;">
                        <h1 style="color: #D0C9C0">目前無資料</h1>
                    </div>
                    {% endif %}
                    {% for record in mock_interview_records %}
                    <div class="card mb-3 border-0" data-content-id="{{ record.id }}" data-content-type="MI">
                        <div class="row g-0">
                            <div class="col card date-card border-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ record.created_at.day }}</h5>
                                    <p class="card-text"><small class="text-muted">{{ record.created_at|get_month_name }}</small></p>
                                </div>
                            </div>
                            <div class="col card bg-transparent border-0">
                                <div class="card-body" style="padding-left: 40px;">
                                    <h5 style="color:#5E4104">{{ record.unit }}模擬面試</h5>
                                    <p class="card-text"><small class="text-muted">綜合平均分數：{{ record.comprehensive_score }} 分</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.tab-pane > .card').click(function () {
            var id = $(this).data('content-id');
            var type = $(this).data('content-type');
            var url = "{% url 'HistoryDetail' %}"
            var data = {
                'id': id,
                'type': type
            }
            window.location.href = url + '?' + $.param(data);
        })

        $('#date-filter').on('change', function () {
            var date = $(this).val();
            var $active_content = $('.tab-pane.active');
            var content_type = $active_content.attr('id');
            var order = $active_content.find('.order-img').attr('src').includes('asc_order') ? 'asc' : 'desc';
            window.location.href = "{% url 'History' %}?date=" + date + "&tab=" + content_type + "&order=" + order;
        });

        $('.order-img').click(function () {
            if ($(this).attr('src').includes('desc_order')) {
                $(this).attr('src', "{% static 'images/asc_order.png' %}");
            } else {
                $(this).attr('src', "{% static 'images/desc_order.png' %}");
            }
            var date = $('#date-filter').val();
            var content_type = $('.tab-pane.active').attr('id');
            var order = $(this).attr('src').includes('asc_order') ? 'asc' : 'desc';
            window.location.href = "{% url 'History' %}?date=" + date + "&tab=" + content_type + "&order=" + order;
        });
    })
</script>
{% endblock %}