{% extends "base.html" %}
{% block title %}模擬面試{% endblock %}
{% block content %}
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div>
                <label>{{ form.company.label }}</label>
                {{ form.company }}
            </div>
            <div>
                <label>{{ form.job.label }}</label>
                {{ form.job }}
            </div>
            <div>
                <label>{{ form.self_introduction.label }}</label>
                {{ form.self_introduction }}
            </div>
            <div>
                <label>{{ form.mode.label }}</label>
                {{ form.mode }}
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="送出" />
            </div>
        </form>
    </div>
    <div class="col-md-6" style="border: 1px solid black; border-radius:20px">
        {% for msg in replyMsg %}
            <div>{{ msg }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}