{% extends "base.html" %}
{% block title %}模擬面試{% endblock %}
{% block content %}

<div class="container" style="margin-top:10px">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                <div class="contents-title">
                    模擬面試
                </div>
                <div class="contents-test">
                    <label>➊{{ form.company.label }}</label>
                    
                    {{ form.company }}
                </div>
                <div class="contents-test">
                    <label>➋{{ form.job.label }}</label>
                    {{ form.job }}
                </div>
                <div class="contents-test">
                    <label>➌{{ form.self_introduction.label }}</label>
                    {{ form.self_introduction }}
                </div>
                <div class="contents-test">
                    <label>{{ form.mode.label }}</label>
                    <div class="form-check-inline form-check-label ">
                        {{ form.mode.0 }}
                        <label for="{{ form.mode.0.id_for_label }}"></label>
                    </div>
                    <div class="form-check-inline form-check-label">
                        {{ form.mode.1 }}
                        <label for="{{ form.mode.1.id_for_label }}"></label>
                    </div>
                </div>
                <div class="d-grid col-10 mx-auto">
                    <input type="submit" class="btn btn-primary" value="開始面試" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}