{% extends "base.html" %}
{% block title %}模擬面試{% endblock %}
{% block content %}
{% load filter %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/mock_interview.css' %}" />

<div class="contents-title">
    模擬面試
</div>

{% for question in questions %}
<div class="container" id="question_{{ forloop.counter }}" {% if forloop.counter > 1 %} style="display: none;" {% endif %}>
    <!-- Interviewer's question section -->
    <div class="question form-control" style="width: 80%;">
        <img src="{% static 'images/interviewer.png' %}" alt="interviewer" class="interviewer-img"
            style="position: absolute; top: 10px; width: 110px; height: 110px;">
        <div style="position: absolute; right: 30px; top: 10px; bottom: 20px; left: 10px; overflow-y: auto;">
            <p style="padding-left: 40px;">
                {{ question.question }}
            </p>
        </div>
        <div class="form-control"
            style="position: absolute; bottom: -1px; left: -40px;background-color: #FFB755; height: 35px;width: 80px; text-align: center;">
            <p>面試官</p>
        </div>
    </div>

    <!-- User's input section -->
    <div class="input-area form-control" style="position: relative; width: 80%;">
        <div>
            {{ form.answer }}
            <input type="hidden" name="id" value="{{ question.id }}" />
        </div>

        <img src="{% static 'images/interviewee.png' %}" alt="interviewer"
            style="position: absolute; right: -55px; top: 10px; width: 110px; height: 110px;">
        <div class="form-control interviewer-div"
            style="position: absolute; bottom: -1px; background-color: #FFB755; height: 35px;width: 80px; text-align: center;">
            <p>面試者</p>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        {% if forloop.counter == questions|length %}
        <input type="button" class="btn btn-primary submit-btn" value="送出" />
        {% else %}
        <input type="button" class="btn btn-primary submit-btn" value="下一題" />
        {% endif %}
        <input type="hidden" class="btn btn-primary currentQuestion" value="{{ forloop.counter }}" />
        <button class="btn btn-primary load-btn" type="button" disabled style="display: none">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="vertical-align: baseline;"></span>
            評分中...
        </button>
    </div>
</div>
{% endfor %}
<script>
    $(document).ready(function () {
        var records = [];
        $(".submit-btn").click(function () {
            var currentQuestion = $(this).siblings(".currentQuestion").val();
            var $currentQuestionDiv = $("#question_" + currentQuestion);
            var answer = $currentQuestionDiv.find("textarea[name='answer']").val();
            var id = $currentQuestionDiv.find("input[name='id']").val();
            var record = {
                "id": id,
                "answer": answer
            };
            records.push(record);
            if ($(this).val() === '下一題') {
                var $nextQuestionDiv = $("#question_" + (parseInt(currentQuestion) + 1));
                $currentQuestionDiv.hide();
                $nextQuestionDiv.show();
            } else {
                $(this).hide();
                $('#id_answer').prop('disabled', true);
                $(this).siblings(".load-btn").show();
                submitAnswer();
            }
        });

        function submitAnswer() {
            $.ajax({
                url: "{% url 'MockInterviewResult' %}",
                type: "POST",
                data: {
                    "records": JSON.stringify(records),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (response) {
                    if (response.status) {
                        var score_id = response.score_id;
                        window.location.href = "{% url 'MockInterviewResult' %}?score_id=" + score_id;
                    }
                },
                error: function () {
                    alert("系統錯誤，請稍後再試");
                    window.location.reload();
                }                
            });
        }
    });

</script>

{% endblock %}