{% extends "base.html" %}
{% block title %}推薦信{% endblock %}
{% block content %}

<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="contents-title">
                推薦信輸入
            </div>
            <div class="contents-test">
                <label>➊{{ form.self.label }}</label>
                {{ form.self }}
            </div>
            <div class="contents-test">
                <label>➋{{ form.recommender.label }}</label>
                {{ form.recommender }}
            </div>
            <div class="contents-test">
                <label>➌{{ form.position.label }}</label>
                {{ form.position }}
            </div>
            <div class="contents-test">
                <label>➍{{ form.experience.label }}</label>
                {{ form.experience }}
            </div>
            <div class="contents-test">
                <label>➎{{ form.reason.label }}</label>
                {{ form.reason }}
            </div>
            <div class="contents-test">
                <label>➏{{ form.example.label }}</label>
                {{ form.example }}
            </div>
            <div class="d-grid col-10 mx-auto">
                <input type="submit" class="btn btn-primary" value="生成推薦信" />
            </div>
        </form>
    </div>
</div>

{% endblock %}