{% extends "base.html" %}
{% block title %}首頁{% endblock %}
{% block content %}
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div>
                <label>{{ form.company.label }}</label>
                {{ form.company }}
            </div>
            <div>
                <label>{{ form.job.label }}</label>
                {{ form.job }}
            </div>
            <div>
                <label>{{ form.skill1.label }}</label>
                {{ form.skill1 }}
            </div>
            <div>
                <label>{{ form.skill2.label }}</label>
                {{ form.skill2 }}
            </div>
            <div>
                <label>{{ form.cultural_fit.label }}</label>
                {{ form.cultural_fit }}
            </div>
            <div>
                <label>{{ form.cultural_fit_example.label }}</label>
                {{ form.cultural_fit_example }}
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="送出" />
            </div>
        </form>
    </div>
    <div class="col-md-6" style="border: 1px solid black; border-radius:20px">
        <div>{{ replyMsg }}</div>
    </div>
</div>

{% endblock %}